<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Datos desde MySQL</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>  
  <h4 style="color: rgb(2, 150, 128);">Usuarios Cargados :  <%= recordCount %> </h4>
  <hr class="divider">
  <br>
  <form id="registerForm" action="/register" method="POST"> 
    <a href="/cargausuarios" class="btn btn-warning btn-sm">Regresar</a>
    <input type="submit" class="btn btn-primary btn-sm" value="Insertar">
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Propiedad</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí iteramos sobre los datos y los mostramos en la tabla -->
                <% data.forEach(row => { %>
                    <tr>
                        <td><%= row.user %></td>
                        <td><%= row.name %></td>
                        <td><%= row.numprop %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
      <p><strong>Total de registros: </strong><%= recordCount %></p>
    </form>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/cargascsadi', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            if (result.status === 'success') {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: false,
                    timer: 1500
                    
                }).then(() => { 
                    window.location.href = '/cargausuarios'; // Redirigir al usuario si es necesario
                });
            } else {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: true,
                    timer: 1500
                });
            }

        });
    </script>
      
    </body>
</html>
