<!DOCTYPE html>
<html lang="es">
  <style>
    table {
      font-size: 16px; /* Tamaño de fuente más pequeño */
      line-height: 0.6; /* Reduce el espacio entre líneas */
      border-collapse: collapse; /* Para evitar doble borde */
      width: 100%;
    }
    th, td {
      padding: 5px; /* Espacio interno en las celdas */
      border: 1px solid #190186; /* Bordes de las celdas */
    }
  </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Datos desde MySQL</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>  
  <h4 style="color: rgb(2, 150, 128);">Usuarios Cargados :  <%= recordCount %> </h4>
  <a href="/cargausuarios" class="btn btn-success btn-sm">Regresar</a>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Propiedad</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí iteramos sobre los datos y los mostramos en la tabla -->
                <% data.forEach(row => { %>
                    <tr>
                        <td><%= row.numprop %></td>
                        <td><%= row.user %></td>
                        <td><%= row.name %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
      <p><strong>Total de registros: </strong><%= recordCount %></p>
  </body>
</html>
