<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%- include('partials/head') %>
<style>
    .encabezado {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        padding: 15px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      /* Altura reservada para el encabezado */
      .detalle-scroll {
        margin-top: 150px; /* Ajusta según el alto real del header */
        height: calc(100% - 120px);
        overflow-y: auto;
        padding: 20px;
        background-color: #f7f7f7;
      }

      /* Evitar scrolls innecesarios en el body */
      body {
        overflow: hidden;
        margin: 0;
        padding: 0;
      }

      .icon-img-btn {
        width: 36px;
        height: 36px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }

      .icon-img-btn .icon-img {
        width: 18px;
        height: 18px;
      }

      /* Ajustes para pantallas móviles */
      @media (max-width: 576px) {
        .icon-img-btn {
          width: 32px;
          height: 32px;
        }

        .icon-img-btn .icon-img {
          width: 16px;
          height: 16px;
        }
      }

</style>       

</head>
<body>
    <!-- Encabezado fijo -->
    <header class="encabezado">
        <%- include('partials/navigationf') %>
    </header>  
    <!-- Contenido desplazable -->
  <div class="detalle-scroll">
              <div class="d-flex justify-content-between align-items-center mb-0 px-4">
                  <!-- Izquierda: Botones -->
                <div class="d-flex flex-wrap gap-2 justify-content-center mx-3 my-2">
                <!-- Izquierda: Botones -->
                      <button 
                        class="btn btn-primary btn-sm" 
                        data-toggle="modal" 
                        data-target="#modalCiudad" 
                        onclick="limpiarFormularioCiudad()">
                        Adicionar
                      </button>

                      <a 
                        href="/complementar?idot=<%= idot %>" 
                        class="btn btn-success btn-sm btnind-hover-effect">
                        Regresar...
                      </a>
                </div>

            
                <!-- Centro: Título centrado -->
                <div class="flex-grow-1 text-center">
                    <h3 class="mb-2 fw-semibold d-inline-block position-relative"
                        style="letter-spacing: 1px; color: #2c3e50; font-size: 1.5rem; text-shadow: 2px 2px 5px rgba(0,0,0,0.2); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        Orden de Trabajo – : <%= idot %>
                        <span style="display: block; height: 3px; background-color: #3498db; margin-top: 12px; width: 100%; margin-left: auto; margin-right: auto; border-radius: 5px;"></span>
                    </h3>
                </div>

                <!-- Derecha vacía para balancear -->
                <div style="width: 200px;"></div>
            </div>
          
            <% if (typeof mensaje !== 'undefined') { %>
                <div class="alert alert-<%= mensaje.tipo %> alert-dismissible fade show" role="alert" id="alertaMensaje">
                    <%= mensaje.texto %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar" style="background-color: rgb(243, 131, 131); color: white; border: none; padding: 4px 8px; border-radius: 4px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>

        <h4 style="margin-top: 30px; margin-left: 40px;">Equipo de Trabajo</h4>
        <div class="container-fluid mt-1">
              <div class="content2">
                <div class="register-formAnchoCMG">           
                  <div style="overflow-x: auto;">
                    <table class="table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th class="text-center">Orden</th>
                          <th class="text-center">Id Funcionario</th>
                          <th class="text-center">Funcionario</th>
                          <th class="text-center">Perfil</th>
                          <th class="text-center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                            <% if (oequipo.length > 0) { 
                                let perfilAnterior = null;
                                oequipo.forEach(oequipo => {
                                if (oequipo.perfil !== perfilAnterior) { %>
                                    <tr>
                                    <td colspan="5" style="font-weight: bold; background-color: #c2d1f1; padding: 6px 4px;">
                                        <%= oequipo.perfil %>
                                    </td>
                                    </tr>
                                <% 
                                    perfilAnterior = oequipo.perfil;
                                } %>
                                <tr style="line-height: 1.3;">
                                    <td style="width: 200px; font-size: 14px;"><%= oequipo.idot %></td>
                                    <td style="width: 300px; font-size: 15px;"><%= oequipo.identificador %></td>
                                    <td style="width: 600px; font-size: 15px;"><%= oequipo.funcionario %></td>
                                    <td style="width: 300px; font-size: 15px;"><%= oequipo.perfil %></td>
                                    <td class="text-center" style="width: 200px; padding: 2px 4px; font-size: 12px; vertical-align: middle;">

                                    <button type="button" class="btn btn-danger btn-sm icon-btn" onclick="confirmarEliminacion('<%= oequipo.idot %>')" title="Eliminar">
                                      <i class="bi bi-trash"></i>
                                    </button>
                                     

                                    </td>
                                </tr>
                            <%   }) 
                            } else { %>
                            <tr>
                                <td colspan="5">No hay Equipo registrado.</td>
                            </tr>
                            <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>

        <!-- Modal Adicionar / Modificar -->
        
        <div class="modal fade" id="modalCiudad" tabindex="-1" role="dialog" aria-labelledby="modalCiudadLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form action="/gestionar" method="POST" class="modal-content" onsubmit="return copiarDatosFormulario()">
              <div class="modal-header d-flex justify-content-between align-items-center" style="background-color: #007bff; color: white; border-bottom: 2px solid #0056b3;">
                <h5 class="modal-title" id="modalCiudadLabel" style="font-weight: bold; text-transform: uppercase; font-size: 1.25rem; letter-spacing: 1px;">Adicionar / Modificar</h5>
                <button type="button" class="close p-1" data-dismiss="modal" aria-label="Cerrar" style="width: 30px; height: 30px; font-size: 1.2rem; line-height: 1;>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             
              <div class="modal-body">
                <input type="hidden" id="idot-hidden" name="idot" value="<%= idot %>">
                <input type="hidden" name="editando" id="editando" value="false">
                <div class="form-row">
                    <label for="proveedor">Equipo</label>
                    <select class="form-control form-control-sm input-con-sombra" name="proveedor" id="proveedor" required>
                      <option value="">Seleccione</option>
                      <% prov.forEach(p => { %>
                        <option value="<%= p.identificador %>"><%= p.identificador + ' - ' + p.funcionario + ' - ' + p.desp   %></option>
                      <% }) %>
                    </select>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
              </div>

            </form>
          </div>
        </div>

        <!-- Modal Confirmar Eliminación -->
        <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarEliminarLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirmar Eliminación</h5>
              </div>
              <div class="modal-body">
                ¿Estás seguro que deseas eliminar <strong id="nombreAEliminar"></strong>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#modalConfirmarEliminar').modal('hide');">Cancelar</button>
                <a id="confirmarEliminarLink" class="btn btn-danger">Eliminar</a>
              </div>
            </div>
          </div>
        </div>



    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    function editarCiudad(oequipo) {
      document.getElementById('editando').value = "true";

      // Habilitar campos para edición
      document.getElementById('proveedor').disabled = false;

      // Set valores
      document.getElementById('proveedor').value = oequipo.identificador    ;

      toggleBotonesModal('modificar');
    }

    function limpiarFormularioCiudad() {
      // Si el campo de idot (select) estaba deshabilitado, habilítalo para el próximo uso
      document.getElementById('proveedor').value = "";

      // Si usas un campo oculto para "editando"
      document.getElementById('editando').value = "false";
    }


    function copiarDatosFormulario() {
      const idotVisible = document.getElementById('idot_visible');
      const idotOculto = document.getElementById('idot');

      idotOculto.value = idotVisible.value;

      return true; // permite el envío del formulario
    }

    function confirmarEliminacion(idot) {
      document.getElementById('nombreAEliminar').textContent = idot;
      document.getElementById('confirmarEliminarLink').href = `/gestionar/delete/${idot}`;
      $('#modalConfirmarEliminar').modal('show');
    }

    // Auto cerrar la alerta luego de 5 segundos
    window.onload = function () {
      const alerta = document.getElementById('alertaMensaje');
      if (alerta) {
        // Eliminar la alerta después de 5 segundos
        setTimeout(() => {
          alerta.classList.remove('show');
          alerta.classList.add('hide');
          // Luego de que se desvanezca, eliminar el elemento completamente del DOM
          setTimeout(() => {
            alerta.remove();
          }, 300); // Espera a que la animación de opacidad termine antes de eliminar
        }, 2000);
      }
    };

  </script>
</body>
</html>
