<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->

    <style>
        .dropdown {
          position: relative; /* Necesario para el dropdown */
        }
      
        .dropdown-content {
          display: none; /* Ocultar el contenido del dropdown */
          position: absolute; /* Posicionamiento absoluto */
          left: 50px; /* Ajusta este valor para mover el submenú a la derecha */
          background-color: #ffffcc; /* Color de fondo del dropdown */
          min-width: 150px; /* Ancho mínimo para el dropdown */
          z-index: 1; /* Para asegurarse de que esté sobre otros elementos */
        }
      
        .dropdown:hover .dropdown-content {
          display: block; /* Mostrar contenido al pasar el mouse */
        }
      </style>

</head>
<body class="body.imagen">
    <% if (rol==='Administrador') { %>
        <%- include('partials/navigat') %>  
    <% } else { %> 
        <%- include('partials/navigation') %>  
    <% } %>
    <br>    
    <div style="display: inline;">
        <h5 style="font-size: 14px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); transition: color 0.3s ease;" 
            onmouseover="this.querySelector('.user').style.color='darkblue'; this.querySelector('.name').style.color='darkred';" 
            onmouseout="this.querySelector('.user').style.color='blue'; this.querySelector('.name').style.color='green';">
            <span class="user" style="color: blue; padding-left: 10px;"><%= userUser %></span>
            <span class="name" style="color: green;"> - <%= name %></span>
        </h5>
    </div>    
    <div class="content">
        <div class="register-formIzq">
                <div style="display: inline;">
                    <div style="display: inline;">
                        <h5></h5>
                            <input type="submit" id="btnSeleccion" class="btn-salir" value="Votar">
                        <br><br>    
                        <h5></h5>
                            <input type="submit" id="btnresultados" class="btn-salir" value="Resultados">
                        <br><br>    

                    </div>                    
                </div>
        </div> 
    
        <% if (rol!='Administration') { %>
            <div class="register-formIzq">
                <div>
                    <div style="display: inline;">
                        <a href="/ver_poder" class="btn btn-light btn-sm ">Formato PODER</a>
                        <br><br>    
                    </div>
                    <div style="display: inline;">
                        <a href="/poderesusu" class="btn btn-light btn-sm ">Registrar PODER</a>
                        <br><br>    
                    </div>
                    <div style="display: inline;">
                        <a href="/moduserpass?user=<%= user %>&name=<%= name %>" class="btn btn-light btn-sm ">Cambiar Contraseña</a>
                        <br><br>    
                    </div>
                </div>  
            </div>
        <% } else { %> 
            <div class="register-formIzq">
                <div style="display: inline;">
                    <li class="nav-item dropdown">
                        <h5></h5>
                        <button class="btn btn-light btn-sm ">Poderes</button>
                        <div class="dropdown-content">
                        <a href="/poderes">Registrar Poder</a>
                        <a href="/ver-word">Descargar Formato</a>
                        <a href="/valida">validar</a>
                        </div>
                        <br><br>    
                    </li>
                </div>
            </div>
        <% } %>        

        <div class="register-formIzq">
            <div style="display: inline;">
                <h5></h5>
                <input type="submit" id="btnSalir" class="btn-salir" value="Salir">
                <br><br>    
            </div>
        </div> 

    
    </div>   

    <script>
        document.getElementById('btnSeleccion').addEventListener('click', function() {
            // Acción para el botón "Votaciones"
            window.location.href = '/respuesta'; // Redirige a la página de votaciones
        });

        document.getElementById('btnresultados').addEventListener('click', function() {
            // Acción para el botón "Votaciones"
            window.location.href = '/resultados'; // Redirige a la página de votaciones
        });

        document.getElementById('btnSalir').addEventListener('click', function() {
            // Acción para el botón "Salir"
            window.location.href = '/'; // Redirige a la página de logout o cerrar sesión
        });
    </script>

    <%- include('partials/footer') %>  
</body>
</html>
