<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Actividades Verticalmente</title>
    <link rel="stylesheet" href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css">
    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js" type="text/javascript"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (requiere Popper.js también) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f4f8;
            zoom: 1; /* 80% del tamaño original - tamaño texto GLOBAL*/
        }

        #gantt_here {
            width: 100%;
            height: 600px;  /* ALTURA GANTT tamaño texto GLOBAL*/
            margin-top: 20px;
            overflow-x: auto;
            white-space: nowrap;
            background-color: #ffffff;
            border-radius: 8px;
        }

        .activity-item {
            font-size: 11px;
            padding: 0px;
            margin: 0px 0;
            border-radius: 8px;
            background-color: #f9f9f9;
            transition: background-color 0.3s ease;
        }

        .activity-item_COPIA {
            font-size: 14px;
            padding: 10px;
            margin: 5px 0;
            border: 2px solid #d84b13;
            border-radius: 8px;
            background-color: #f9f9f9;
            transition: background-color 0.3s ease;
        }

        .activity-item:hover {
            background-color: #f0f8ff;
        }

        /* Estilos para el modal */
        #addTaskModal {
            display: none; /* Inicialmente oculto */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el modal */
            z-index: 9999;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            max-width: 500px;
            width: 90%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .modal-header {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        .modal-footer {
            text-align: center;
            margin-top: 20px;
        }

        #addTaskForm label {
            font-size: 14px;
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        #addTaskForm input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 14px;
            background-color: #fafafa;
            transition: border-color 0.3s ease;
        }

        #addTaskForm input:focus {
            border-color: #4caf50;
            outline: none;
        }

        #addTaskForm button {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            color: white;
            background-color: #4caf50;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #addTaskForm button:hover {
            background-color: #45a049;
        }

        /* Clase CSS para cambiar el color del domingo */
        .sunday {
            background-color: #ffcccc;  /* Color de fondo rojo claro */
            color: #ff0000;  /* Color del texto (rojo) */
        }
        
        /* Cambio de color de los meses */
        .month-cell {
            background-color: #ffffff; /* Color de fondo del mes */
            color: #1506f3; /* Color del texto (verde) */
            font-weight: bold;  /* Poner el texto en negrita */
            text-align: center;
        }

        .gantt_task_cell {
        border-color: #b1b4b3 !important; /* Cambio el color de las celdas de las tareas a rojo */
        }

        .bold-label {
            font-weight: bold;
        }

        .gantt_grid_head_cell {
            font-size: 16px !important; /* Ajusta el valor según lo pequeño que lo necesites  tamaño texto Inicio DP*/
        }

        /* Cambia el tamaño del texto de las filas del grid  tamaño texto Inicio DP texto*/
        .gantt_grid_data .gantt_cell {
            font-size: 12px !important;
        }        

        /* Solo afecta la columna de texto (Actividad) */
        .gantt_grid_data .gantt_cell[data-column-name="text"] {
            font-size: 10px !important;
        }

        /* tamaño texto model de datos*/ 
        .gantt_tooltip {
            background-color: #333;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            max-width: 600px;
            word-wrap: break-word;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        }

        /* tamaño texto model de datos*/ 
        .gantt_tooltip b {
            font-size: 16px; /* Aumenta el tamaño del texto de la tarea */
            font-weight: bold;
            color: #f5a623; /* Puedes cambiar el color del texto de la tarea */
        }

        .gantt_tooltip br {
            margin-bottom: 5px;
        }

        .logo {
            width: 70px;
            height: auto;
            cursor: pointer;
        }

        .activities-title {
            font-size: 16px;
            margin: 0; /* Elimina espacio extra de h3 */
        }


        #activities {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        #activities {
            display: flex;
            align-items: center; /* Centra verticalmente */
            gap: 30px; /* Espacio entre logo y texto */
            padding: 10px 20px;
        }

        .activities-list {
            font-size: 14px;
            padding-left: 0;
            margin: 0;
            list-style-type: none;
        }

        .exit-button {
            margin-left: auto; /* Esto empuja el botón a la derecha */
            padding: 6px 12px;
            background-color: #e74c3c;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            cursor: pointer;
        }

        .exit-button:hover {
            background-color: #c0392b;
        }

            /* Estilo básico para el tooltip manual */
        #customTooltip {
            position: absolute;
            display: none;
            background-color: #333;
            color: white;
            padding: 10px 14px;
            border-radius: 6px;
            font-size: 13px;
            max-width: 720px;
            white-space: normal; /* Asegura que el texto haga salto de línea */
            word-wrap: break-word;
            box-shadow: 0 2px 8px rgba(0,0,0,0.3);
            z-index: 10000;
            pointer-events: none;
        }

        #customTooltip b {
            font-size: 14px;
            color: #f5a623;
        }

        #gantt_container {
            height: 340px;  /* Ajusta según tu necesidad */
            overflow-y: auto;
            overflow-x: auto;
            border: 1px solid #ccc;
            margin-top: 20px;
        }

        #gantt_here {
            height: 100%;
            min-width: 1000px; /* Opcional: para evitar corte horizontal */
        }

</style>        

</head>
<body>
    
        <div id="customTooltip" class="gantt_tooltip"></div>
        <BR>        
        <!-- 2 Regreso -->
        <div class="d-flex justify-content-between align-items-center mb-0 px-4">
            <!-- tamaño texto - titulo de orden */ -->
            <div class="ms-5">
                <a href="/actividades" class="btn btn-success btn-sm btnind-hover-effect ms-2">Regresar</a>
            </div>
        </div>

        <!-- 3 Centro: Título centrado -->
        <div class="flex-grow-1 text-center">
            <h3 class="mb-2 fw-semibold d-inline-block position-relative"
                style="letter-spacing: 1px; color: #2c3e50; font-size: 1.5rem; text-shadow: 2px 2px 5px rgba(0,0,0,0.2); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <p style="font-size: 18px; margin: 0;">
                    Orden: 
                    <span style="color: #007bff; font-weight: bold;"><%= otrabajo %></span> — 
                    <span style="color: #5a0505; font-weight: bold;"><%= descripcion %></span>
                </p>
                <span style="display: block; height: 3px; background-color: #3498db; margin-top: 12px; width: 100%; margin-left: auto; margin-right: auto; border-radius: 5px;"></span>
            </h3>
        </div>

                <!-- 4 Botón para activar el modal (solo visible si userIdAct == 1) -->
        <div style="text-align: center; margin-top: 20px;" id="addTaskButtonContainer">
            <button 
                class="btn btn-primary btn-sm" 
                id="openModalButton" 
                onclick="limpiarFormulario()">
                Adicionar
            </button>

            <button 
                class="btn btn-warning btn-sm" 
                onclick="location.href='/respmod?idot=<%= encodeURIComponent(otrabajo) %>&descripcion=<%= encodeURIComponent(descripcion) %>'">
                Modificar
            </button>

            <button 
                class="btn btn-danger btn-sm" 
                onclick="location.href='/reseli?idot=<%= encodeURIComponent(otrabajo) %>&descripcion=<%= encodeURIComponent(descripcion) %>'">
                Eliminar
            </button>
        </div>

<div id="gantt_container">

        <div id="gantt_here"></div>
</div>
        <!-- 5 Modal para agregar una nueva ACTIVIDAD  ESTE -->
        <div id="addTaskModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Agregar nueva Actividad</h4>
                </div>
                <form action="/respuesta" id="addTaskForm" method="POST" onsubmit="return copiarDatosFormulario()">


                    <input type="hidden" id="maxTaskIdInput" name="maxTaskId">
                    <input type="hidden" id="maxTaskCodeInput" name="maxTaskCode">

                    <!-- Campo oculto para otrabajo -->
                    <input type="hidden" name="idot" value="<%= otrabajo %>">
                    
                    <!-- Campo oculto para descripcion -->
                    <input type="hidden" name="descripcion" value="<%= descripcion %>">

                    <label for="taskName">Nombre de la tarea:</label>
                    <input type="text" id="taskName" name="taskname" required placeholder="Ingrese el nombre de la tarea">
                    
                    <label for="taskStartDate">Fecha de inicio:</label>
                    <input type="date" id="taskStartDate" name="taskStartDate" required>
                    
                    <label for="taskDuration">Duración (días):</label>
                    <input type="number" id="taskDuration" min="1" name="taskDuration" required placeholder="Ingrese la duración en días">
                    
                    <button type="submit" id="addTaskButton">Agregar Tarea</button>

                    <div class="form-feedback" id="formFeedback"></div>
                </form>
                <div class="modal-footer">
                    <button type="button" id="closeModalButton">Cerrar</button>
                </div>
            </div>
        </div>

        <script>
            function copiarDatosFormulario() {
                document.getElementById('maxTaskIdInput').value = maxTaskId;
                document.getElementById('maxTaskCodeInput').value = maxTaskCode;
                return true; // Permite el envío del formulario
            }
        </script>

        <script>
                const otrabajo = "<%= otrabajo %>";
        </script>

        <!-- GANTT PROCESO -->
        <script>
            var userIdAct = 1;  // Cambia esto a 0 para simular el caso donde el usuario no tiene permisos para modificar.
       
            gantt.config.xml_date = "%Y-%m-%d %H:%i";
            gantt.config.drag_move = false;
            gantt.config.drag_resize = false;
            gantt.config.drag_links = false;

            /* tamaño texto Actividad*/
            let lastTaskShown = null;
            gantt.config.columns = [
                {
                    name: "task",
                    label: "<b>Id</b>",
                    align: "center",
                    width: 40,
                    template: function (task) {
                        // Obtener la fila anterior directamente desde Gantt
                        const index = gantt.getTaskIndex(task.id);
                        if (index === 0) {
                            return task.task;
                        }
                        const prevTask = gantt.getTaskByIndex(index - 1);
                        if (prevTask && prevTask.task === task.task) {
                            return ""; // No mostrar si es igual al anterior
                        }
                        return task.task;
                    }
                },
                { name: "text", label: "<span style='font-size: 14px;'><b>Actividad</b></span>", align: "left", width: 250 },
                { name: "start_date", label: "<b>Inicio</b>", align: "left", width: 100,
                        template: function(task) {
                        return `<span style="color: #0000ff; font-weight: bold;">${gantt.date.date_to_str("%d-%m-%Y")(task.start_date)}</span>`;
                    }
                 },
                { name: "duration", label: "<b>D</b>", align: "center", width: 30 },
                
            ];

            gantt.locale = {
                date: {
                    month_full: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                    month_short: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                    day_full: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                    day_short: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"]
                }
            };

            // Cambiar idioma globalmente a español (si es necesario)
            gantt.config.language = "es";

            gantt.plugins({
                tooltip: false
            });


            gantt.attachEvent("onMouseMove", function (id, e) {
                const target = e.target;
                const cell = target.closest(".gantt_cell");

                if (cell && cell.getAttribute("data-column-name") === "text") {
                    const task = gantt.getTask(id);
                    if (task) {
                        gantt.tooltip.show(e.target, task.text);
                    }
                } else {
                    gantt.tooltip.hide();
                }
            });

            // Personalizar la plantilla de la escala de fechas para cambiar el color del mes

            let currentMonth = null; // Variable para almacenar el mes actual

            // Colores diferentes para cada mes
            const monthColors = [
                '#C00000', // Enero (Rojo intenso)
                '#002060', // Febrero (Azul intenso)
                '#C00000', // Marzo (Naranja intenso)
                '#002060', // Abril (Rojo fuerte)
                '#C00000', // Mayo (Verde fuerte)
                '#002060', // Junio (Cian fuerte)
                '#C00000', // Julio (Magenta fuerte)
                '#002060', // Agosto (Amarillo fuerte)
                '#C00000', // Septiembre (Rojo fuerte)
                '#002060', // Octubre (Turquesa fuerte)
                '#C00000', // Noviembre (Amarillo lima fuerte)
                '#002060'  // Diciembre (Rojo oscuro)
            ];

        
            gantt.templates.date_scale = function(date) {
                const options = { day: 'numeric', month: 'short' }; // Mostrar día y mes
                const formattedDate = new Date(date).toLocaleDateString('es-ES', options);
                const month = new Date(date).toLocaleDateString('es-ES', { month: 'short' }); // Obtener el mes actual
                // Si el mes actual ha cambiado, asignamos un nuevo color
                if (month !== currentMonth) {
                    currentMonth = month; // Actualizar el mes actual
                }

                // Obtener el índice del mes (0 = enero, 1 = febrero, ..., 11 = diciembre)
                const monthIndex = new Date(date).getMonth();

                const fechasfes = ['16 feb','17 feb','23 feb','2 mar','9 mar','16 mar','23 mar','30 mar','6 apr','13 apr','17 apr','18 apr','19 apr','20 apr']; // Fechas en formato 'yyyy-mm-dd'
                const formattedDate2 = new Date(date).toLocaleDateString('es-ES', { day: 'numeric', month: 'short' }); // Formato '11 feb'

                // Convertir las fechas en el vector fechasfes a formato '11 feb'
                const fechasFormateadas = fechasfes.map(fecha => {
                    return new Date(fecha).toLocaleDateString('es-ES', { day: 'numeric', month: 'short' });
                });

                let monthStyle2;

                // Comparar formattedDate2 con las fechas formateadas
                if (fechasFormateadas.includes(formattedDate2)) {
                    monthStyle2 = `background-color: ${monthColors[monthIndex]}; color: red; font-weight: bold;`;
                    monthStyle2 = `fore-color: ${monthColors[monthIndex]}; color: red; font-weight: bold;`;

                } else {
                    monthStyle2 = `background-color: ${monthColors[monthIndex]}; color: white; font-weight: bold;`;
                }
                // span class="month-cell  -  tamaño texto DIA MES  [11 feb]"
                return `<span class="month-cell" style="font-size: 12px; ${monthStyle2}">${formattedDate}</span>`;
            };

            gantt.config.scale_height = 100;
            gantt.config.row_height = 25;
            gantt.config.task_height = 50;

            
            // Configuración de subescala para mostrar los días de la semana y el número del día
            gantt.config.subscales = [
                {
                    unit: "year",  // Ahora la subescala del año es la segunda fila
                    step: 1,
                    date: function (date) {
                        const options = { year: 'numeric' }; // "Febrero 2025"
                        const formattedDate = new Date(date).toLocaleDateString('es-ES', options);
        
                        // Establecer estilo para mayor tamaño de texto y color oscuro
                        const textStyle = 'font-size: 24px; color: #333333; font-weight: bold; text-align: left;';
                        
                        // Devolver el día con el estilo aplicado
                        return `<span style="${textStyle}">${formattedDate}</span>`;
                        //                    return new Date(date).toLocaleDateString('es-ES', options);
                    },
                },
                {
                    unit: "day",  // La subescala del día ahora es la tercera fila
                    step: 1,
                    // Mostrar el nombre del día (abreviado) y el número del día
                    date: function (date) {
                            const options = { weekday: 'short' };  // Día abreviado y número de día
                            const day = new Date(date).toLocaleDateString('es-ES', options);  // Formato español

                            // Verificar si el día es 'dom.' (domingo en español)
                            if (day === 'dom') {
                                return `<span style="color: red; font-weight: bold; text-transform: uppercase; font-size: 10px;">${day}</span>`;  // Devolver el día en rojo, negrita, mayúsculas y con tamaño de letra más grande
                            } else {
                    
                                // Fechas en el array (por ejemplo, las fechas de eventos en el Gantt)
                                const fechas = ['2025-04-15', '2025-04-16', '2025-05-12'];

                                // Suponiendo que 'fechaGantt' es la fecha que proviene del Gantt (en formato 'yyyy-mm-dd')
                                const fechaGantt = '2025-04-15'; // Esta es la fecha que quieres comparar

                                // Función para verificar si la fecha del Gantt está en el array de fechas
                                const fechaEncontrada = fechas.some(fechaStr => {
                                    // Comparamos la fecha del Gantt con las fechas del array
                                    return fechaGantt === fechaStr;
                                });

                                // Estilo dependiendo de si la fecha está en el array
                                if (fechaEncontrada) {
                                    // tamaño texto nom dia [mie]
                                    return `<span style="color: darkblue; font-weight: bold; font-size: 12px;">${day}</span>`;  // Estilo para fechas en el array (rojo)
                                } else {
                                    return `<span style="color: green; font-weight: bold; font-size: 42px;">${day}</span>`;  // Estilo para otros días (verde)
                                }
                        }
                    },
                    align: "center"
                },
            ];

//            gantt.config.start_date = new Date("2025-01-01");
//            gantt.config.end_date = new Date("2026-12-15"); // fecha Maxima LIMITE
        
            // Función para cargar las tareas desde el servidor
            let maxTaskId = 0;
            let maxTaskCode = 0; // Si `task` es numérico

            const urlParams = new URLSearchParams(window.location.search);
            const idot = urlParams.get('idot');

            
            async function loadTasks() {
                try {
                    console.log('idot recibido:', idot);  // ← ya no será undefined
                    const response = await fetch('/tareas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ idot }) // ← ya lo tienes definido arriba
                    });                    

                    const data = await response.json(); // Parseamos la respuesta en formato JSON
                    if (data && data.tasks && data.tasks.length > 0) {
                        // Calcula máximos
                        maxTaskId = Math.max(...data.tasks.map(task => task.id));
                        maxTaskCode = Math.max(...data.tasks.map(task => task.task));
                        const ganttData = data.tasks.map(task => {
                            return {
                                id: task.id,
                                task: task.task,
                                text: task.text,
                                start_date: new Date(task.start_date).toISOString().split('T')[0],    
                                duration: task.duration,
                                progress: task.progress,
                                type: task.type,
                                color: task.color || '',
                            };
                        });

                        // Cambiar el tamaño de letra del texto dentro de la barra de tareas --- tamaño texto barraS
                        gantt.templates.task_text = function(start, end, task) {
                            return `<span style="font-size:8px;">${task.text}</span>`;
                        };
                        gantt.init("gantt_here");
                        gantt.clearAll();
                        // Ordenar las tareas por fecha de inicio (start_date)
                        ganttData.sort((a, b) => new Date(a.start_date) - new Date(b.start_date));
                        gantt.parse({ data: ganttData, links: [] });
                        loadActivities(data.tasks);
                    } else {
                        console.error('No se encontraron tareas.');
                    }
                } catch (error) {
                    console.error('Error al cargar las tareas:', error);
                }
            }
            // Llamamos a loadTasks para cargar las tareas al iniciar
            loadTasks();
        </script>
        <!-- end GANTT PROCESO -->

        <!-- MODAL -detalle ACTIVIDAD -->

        <script>
        document.addEventListener("DOMContentLoaded", () => {
            const modal = document.getElementById("addTaskModal");
            const openModalButton = document.getElementById("openModalButton"); // Asegúrate de tener este botón en tu HTML
            const closeModalButton = document.getElementById("closeModalButton");
            const addTaskButton = document.getElementById("addTaskButton");
            const formFeedback = document.getElementById("formFeedback");

            // Mostrar el modal
            if (openModalButton) {
                openModalButton.addEventListener("click", () => {
                    modal.style.display = "flex";
                });
            }

            // Cerrar el modal
            closeModalButton.addEventListener("click", () => {
                modal.style.display = "none";
                clearForm();
            });

            // Agregar tarea
            addTaskButton.addEventListener("click", () => {
                const name = document.getElementById("taskName").value.trim();
                const startDate = document.getElementById("taskStartDate").value;
                const duration = document.getElementById("taskDuration").value;

                if (!name || !startDate || !duration || parseInt(duration) < 1) {
                    formFeedback.textContent = "Por favor, complete todos los campos correctamente.";
                    formFeedback.style.color = "red";
                    return;
                }

                // Aquí puedes insertar la lógica para guardar la tarea  BASE DE DATOS
                formFeedback.textContent = "Tarea agregada exitosamente.";
                formFeedback.style.color = "green";

                // Opcional: cerrar el modal después de un segundo
                setTimeout(() => {
                    modal.style.display = "none";
                    clearForm();
                }, 2000);
            });

            // Función para limpiar el formulario
            function clearForm() {
                document.getElementById("addTaskForm").reset();
                formFeedback.textContent = "";
            }
        });
        </script>

         <script>  // este
            document.addEventListener('contextmenu', function (e) {
                e.preventDefault();
                const target = e.target.closest(".gantt_cell[data-column-name='text']");
                
                const rowId = gantt.locate(e);

                const tooltip = document.getElementById('customTooltip');
                tooltip.style.display = "none";

                if (target && rowId) {
                    const task = gantt.getTask(rowId);
                    let adjustedEndDate = new Date(task.end_date);
                    adjustedEndDate.setDate(adjustedEndDate.getDate() - 1);

                    tooltip.innerHTML = `
                        <b>${task.text}</b><br>
                        <b>Inicio ..... :</b> ${gantt.date.date_to_str("%d %M %Y")(task.start_date)}<br>
                        <b>Finaliza ... :</b> ${gantt.date.date_to_str("%d %M %Y")(adjustedEndDate)}<br>
                        <b>Duración ... :</b> ${task.duration} días<br>
                        <b>Progreso ... :</b> ${task.progress * 100}%
                    `;
                    tooltip.style.left = e.pageX + "px";
                    tooltip.style.top = e.pageY + "px";
                    tooltip.style.display = "block";
                }
            });

            document.addEventListener('click', function () {
                document.getElementById('customTooltip').style.display = "none";
            });
        </script>  

</body>
</html>
