<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <%- include('partials/head') %>
    <title>Ver PDF</title>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h4>Archivo PDF cargado</h4>
        <!-- Vista previa del PDF en un iframe -->
        <div class="register-formAncho"> 
            <iframe src="<%= pdfUrl %>" width="800" height="400">
                El navegador no soporta la vista previa del PDF.
            </iframe>
            <a href="/menuprc" class="btn btn-success btn-sm btnind-hover-effect">Regresar</a>

        </div>
        <!-- Enlace para abrir el archivo en una nueva pestaña -->
        <br>
        <a href="<%= pdfUrl %>" target="_blank">Ver PDF</a>
        <br>
        <!-- Enlace para descargar el PDF -->
        <a href="<%= pdfUrl %>" download="archivo.pdf">Descargar PDF</a>
    </div>    
    <%- include('partials/footer') %>  
</body>
</html>

