<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">  
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <h4 style="color: #0b07f1; text-align: center;">Consultar Poder Otorgado</h4>
            <br>   
            <!-- La línea con el ID ha sido eliminada -->
                <div class="contenedor__login-register">
                    <!-- Vista previa del PDF en un iframe -->
                    <div class="register-formAncho"> 
                        <a href="/poderesusu" class="btn-cancel"> Regresar </a>   
                        <br><br> 
                        <iframe src="<%= pdfUrl %>" width="800" height="400">
                            El navegador no soporta la vista previa del PDF.
                        </iframe>
                        <br>
                        <!-- Enlace para abrir el archivo en una nueva pestaña -->
                        <!--<a href="<%= pdfUrl %>" target="_blank">Ver PDF</a>
                        <br> -->
                        <!-- Enlace para descargar el PDF -->
                        <!--<a href="<%= pdfUrl %>" download="archivo.pdf">Descargar PDF</a> -->
                    </div>
                </div>       

    <script>
        // Función para obtener los parámetros de la URL
        function getURLParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
        // Al cargar la página, obtener y mostrar los parámetros
        window.onload = function() {
            const id = getURLParameter('Id');
            const numprop = getURLParameter('numprop');
            const name = getURLParameter('name');
            const propoder = getURLParameter('propoder');
            const proname = getURLParameter('proname');

            // Mostrar los valores en la página
            document.getElementById('numpropDisplay').textContent = numprop;
            document.getElementById('nameDisplay').textContent = name;
            document.getElementById('propoderDisplay').textContent = propoder;
            document.getElementById('pronameDisplay').textContent = proname;
        };
    </script>

    <%- include('partials/footer') %>  
</body>
</html>
